* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.7);
    color: var(--dark);
}

body {
    background-color: #bbbc;
    margin: 30px 50px;
    line-height: 1.6;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.5rem 1.1rem;
    text-decoration: none;
    border: 0;
    display: inline-block;
    border-radius: 0.7rem;
    height: 2.5rem;
    transition: opacity 0.4s ease-in-out;
}

.btn:hover {
    opacity: 50%;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 1.5rem;
    column-gap: 1.5rem;
    grid-row-gap: 1.5rem;

}

#main-nav ul {
    list-style: none;
    display: grid;
    grid-gap: 1.3rem;
    grid-template-columns: repeat(4, 1fr);

}

#main-nav ul li a {
    display: block;
    background: var(--primary);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--dark);
    box-shadow: var(--shadow);
    padding: 0.5rem 1.1rem;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
}

#main-nav ul li a:hover {
    background: var(--dark);
    color: var(--light);
}

.top-container {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-areas:
        'showcase showcase top-box-a'
        'showcase showcase top-box-b';
}

.showcase {
    grid-area: showcase;
    min-height: 60vh;
    background: url(../image/smoke.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}

#showcase h2 {
    font-size: 4rem;
    margin-bottom: 0;
}

.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    box-shadow: var(--shadow);
}

.top-box p {
    font-size: 2rem;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

.boxes {
    display: grid;
    grid-gap: 1.3rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 1.5rem;
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem;
    box-shadow: var(--shadow);
}

.info {
    margin-top: 1.5rem;
    background: var(--primary);
    text-align: center;
    padding: 3rem;
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, 1fr);
}


.info div {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    align-items: center;
    justify-content: center;
}

.info img {
    width: 100%;
}

.info h4 {
    font-size: 2.4rem;
    line-height: 1.1;
    text-align: center;
}

.portfolio {
    display: grid;
    width: 100%;

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-evenly;
    align-items: center;
    margin: 0.6rem;
    row-gap: 1rem;
    column-gap: 0.7rem;

}


@media(max-width:500px) {
    .top-container {
        grid-template-areas:
            'showcase'
            'top-box-a'
            'top-box-b'
    }

    #main-nav ul {

        grid-template-columns: 1fr;

    }

    .portfolio {
        grid-template-columns: ;
    }

}

@media(max-width:800px) {
    .top-container {
        grid-template-areas:
            'showcase showcase'
            'top-box-a top-box-b'

    }

    .info {

        grid-template-columns: 1fr;

    }
}